

.main__design-design{
    width: 100%;
    background-image: url('https://x.yummlystatic.com/web/banner-marble-bkg.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.main__design-design__corner {
    display: flex;
    width: 100%;
    height: 150px;
    justify-content: space-between;
}

.main__personalize-text-area {
    text-align: center;
}

.main__design-design__overlay {
    display: grid;
    justify-items: center;
}

.main__design-design__overlay-overlay {
    padding: 50%;
}

.main__design-design__overlay__overlay {
    width: 100%;
}